body {
    padding-top: 50px;
    background: green url('../img/home-bg.png') no-repeat center top;
}

.main-container {
    position: relative;
    margin-top: 70px;
}

#home .home-calendar {
    position: absolute;
    top: -55px;
    left: -30px;
    width: 428px;
    height: 257px;
    background: transparent url('../img/home-calendar.png') no-repeat;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 252px;
    height: 83px;
    background: transparent url('../img/kalendy.png') no-repeat;
}

.baseline {
    margin: 0 auto;
    width: 537px;
    height: 23px;
    margin-top: 20px;
    background: transparent url('../img/plan-and-discover.png') no-repeat;
}

.form-search {
    margin: 0 auto;
    width: 497px;
    height: 67px;
}

.form-search .input-prepend .btn {
    border: 0;
    width: 67px;
    height: 67px;
    background: white url('../img/search.png') no-repeat 50% 50%;
    -webkit-border-radius: 33px 0 0 33px;
    -moz-border-radius: 33px 0 0 33px;
    border-radius: 33px 0 0 33px;
}
.form-search .input-prepend .search-query {
    border: 0;
    outline: none;
    width: 411px;
    height: 47px;
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
    color: red;
    -webkit-border-radius: 0 33px 33px 0;
    -moz-border-radius: 0 33px 33px 0;
    border-radius: 0 33px 33px 0;
}

.results-count {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px auto 0 auto;
}

.results-count b {
    font-weight: normal;
    text-decoration: underline;
}

.results-listing {
    margin-top: 30px;
}

input[type=text]:focus,
input[type=password]:focus
{
    outline: 0 none !important;
    border: 0 !important;
    box-shadow: 0 0 0px !important;
    -webkit-box-shadow: 0 !important;
}
