body {
    padding-top: 50px;
    background: #a5c095 url('../img/fonds_neutre.png') no-repeat center top;
}

.main-container {
    position: relative;
    margin-top: 70px;
}

#home .home-calendar {
    position: absolute;
    top: -38px;
    left: -115px;
    width: 274px;
    height: 257px;
    background: transparent url('../img/home-calendar2.png') no-repeat;
}

#home .home-step {
    width: 509px;
    height: 231px;
    margin: 67px auto 0;
    background: transparent url('../img/home-step.png') no-repeat -21px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 252px;
    height: 83px;
    background: transparent url('../img/kalendy.png') no-repeat;
}

.baseline {
    margin: 0 auto;
    width: 537px;
    height: 23px;
    margin-top: 20px;
    background: transparent url('../img/plan-and-discover.png') no-repeat;
}

.form-search {
    margin: 0 auto;
    width: 497px;
    height: 67px;
}

.form-search .input-prepend .btn {
    border: 0;
    width: 67px;
    height: 67px;
    background: white url('../img/search.png') no-repeat 50% 50%;
    -webkit-border-radius: 33px 0 0 33px;
    -moz-border-radius: 33px 0 0 33px;
    border-radius: 33px 0 0 33px;
}
.form-search .input-prepend .search-query {
    border: 0;
    outline: none;
    width: 411px;
    height: 47px;
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
    color: #ee7266;
    -webkit-border-radius: 0 33px 33px 0;
    -moz-border-radius: 0 33px 33px 0;
    border-radius: 0 33px 33px 0;
}

.results-count {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px auto 0 auto;
}

.results-count b {
    font-weight: normal;
    text-decoration: underline;
}

.results-listing {
    margin-top: 75px;
}

.results-listing-row {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px 20px 5px 20px;
}

.results-listing-row .follow-button {

}

body#entrepreneur, body#entrepreneurs {
    background-color: #759fe4;
    background-image: url('../img/fonds_entrepreneur.png');
}

body#foot, body#football {
    background-color: #92e376;
    background-image: url('../img/fonds_foot.png');
}

.follow-button .btn {
    height: 34px;
    padding: 0;
    border: 0;
}

.follow-button .btn.btn-primary {
    width: 123px;
    background: transparent url('../img/follow.png') no-repeat;
}

.follow-button .btn.btn-success {
    width: 99px;
    background: transparent url('../img/following.png') no-repeat;
}

.follow-button .btn.btn-success:hover {
    width: 95px;
    background: transparent url('../img/unfollow.png') no-repeat;
}

input[type=text]:focus,
input[type=password]:focus
{
    outline: 0 none !important;
    border: 0 !important;
    box-shadow: 0 0 0px !important;
    -webkit-box-shadow: 0 !important;
}

.calendar-name {

}

.calendar-name > a, .calendar-name > a:visited, .calendar-name > a:active {
    color: #416e6f;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.next-event {
    color: #ee7266;
}
