{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block body_id %}home{% endblock %}

{% block content %}
    <div class="home-calendar">
    </div>
    {% include 'search.form.twig' %}
{% endblock %}
