<form class="ajaxify" action="{{ url('login') }}" method="post" id="login-form" data-success="onloggin">
    <input required class="input-block-level" type="email" name="mail" placeholder="Email" />
    <input required class="input-block-level" type="password" name="pwd" placeholder="Password" />
    <input class="btn btn-primary btn-block" type="submit" value="Login" />
</form>
