<form class="form-search" action="{{ url('search') }}" method="post">
    <div class="input-append">
        <input name="q" value="{{ search_query|default('') }}" required type="text" class="input-medium search-query" placeholder="Search...">
        <input type="submit" class="btn" value="Search" />
    </div>
</form>
