<form class="form-search" action="{{ url('search.post') }}" method="post">
    <div class="input-prepend">
        <input type="submit" class="btn" value="" />
        <input name="q" value="{{ search_query|default('') }}" autocomplete="off" required type="text" class="input-medium search-query" placeholder="Search...">
    </div>
</form>
